---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/sections/Header.astro";
import Hero from "@/components/sections/Hero.astro";
import InfoStrip from "@/components/sections/InfoStrip.astro";
import OurClasses from "@/components/sections/OurClasses.astro";
import SignIn from "@/components/sections/SignIn.astro";
import Footer from "@/components/sections/Footer.astro";
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <InfoStrip />
    <OurClasses />
    <SignIn />
  </main>
  <Footer />
</BaseLayout>
