---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Header from "@/components/sections/Header.astro";
import Hero from "@/components/sections/Hero.astro";
import InfoStrip from "@/components/sections/InfoStrip.astro";
import OurClasses from "@/components/sections/OurClasses.astro";
import SignIn from "@/components/sections/SignIn.astro";
import Footer from "@/components/sections/Footer.astro";
import { useTranslations } from "@/i18n";
import PricingEnglish from "./sections/PricingEnglish.astro";

const t = useTranslations(Astro.currentLocale);
---

<BaseLayout title={t.seoTitle} description={t.seoDescription}>
  <Header />
  <main>
    <Hero />
    <InfoStrip />
    <OurClasses />
    <PricingEnglish />
    <SignIn />
    <Footer />
  </main>
</BaseLayout>
